@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 dark:bg-neutral-950;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
